@{
    ViewData["Title"] = "My Account";
}

<section class="__admin">
    <div class="container">
        <div className="d-grid justify-content-evenly">
            <a asp-action="users" asp-controller="admin" class="__userpanel alert alert-warning text-center"><span>USER MANAGER</span></a>
            <a asp-action="products" asp-controller="admin" class="__userpanel alert alert-warning text-center"><span>PRODUCT MANAGER</span></a>
            <a asp-action="tags" asp-controller="admin" class="__userpanel alert alert-warning text-center"><span>TAG MANAGER</span></a>
            <a asp-action="categories" asp-controller="admin" class="__userpanel alert alert-warning text-center"><span>CATEGORY MANAGER</span></a>
        </div>
    </div>
</section>