@{
    ViewData["Title"] = "My Account";
}

<section class="__admin">
    <div class="container">
        <div className="d-grid justify-content-evenly">
            <a asp-action="users" asp-controller="admin" class="__userpanel alert alert-warning text-center"><span>MANAGE USERS</span></a>
            <a asp-action="products" asp-controller="admin" class="__userpanel alert alert-warning text-center"><span>MANAGE PRODUCTS</span></a>            
        </div>
    </div>
</section>