@{ViewData["Title"] = "Manage Users";}
@*@model List<AppUser>*@

@*@model UsersViewModel*@

<div class="__admin">
    <div class="container">
        <div class="__manageusers">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">MANAGE PRODUCTS</a>
            @*<button type="button" id="myButton">Add Product</button>*@
            <a asp-action="useradd" asp-controller="admin" class="__adduser">ADD USER</a>
        </div>
        <div class="__listheader collapse" id="collapseExample">
            <div class="__rubrik">
                <span class="__mediumboxheader">Firstname</span>
                <span class="__mediumboxheader">Lastname</span>
                <span class="__largeboxheader">Email</span>
                <span class="__extraboxheader">Extra details</span>

            </div>

            <div class="__userslist">
                <partial name="/Views/Partials/_UserList.cshtml" />
            </div>
        </div>

        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabIndex={-1} aria-labelledby="staticBackdropLabel" aria-hidden="true">
           @* <partial name="/Views/Partials/_AddUser.cshtml" />*@
        </div>
    </div>
</div>
@*
<script>
    const button = document.getElementById('myButton');
    button.addEventListener('click', () => {
        window.open('/admin/adduser', '_blank', 'width=500,height=500');
    });
</script>*@