@{ViewData["Title"] = "Manage Users";}
@*@model List<AppUser>*@

@*@model UsersViewModel*@

<div class="__admin">
    <div class="container">
        <div class="__manageproducts">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">MANAGE PRODUCTS</a>
            <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add Product</button>
        </div>
        <div class="__list collapse" id="collapseExample">
            <div class="__rubrik">
                <span class="__smallbox">ID</span>
                <span class="__mediumbox">Tag</span>
                <span class="__mediumbox">Category</span>
                <span class="__largebox">Product Name</span>
                <span class="__largebox">Product Image</span>
                <span class="__smallbox">Rating</span>
                <span class="__smallbox">Price</span>
                <span class="__mediumbox">Description</span>
            </div>

            <div class="__users">
                <partial name="/Views/Partials/_UserList.cshtml" />
            </div>
        </div>

        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabIndex={-1} aria-labelledby="staticBackdropLabel" aria-hidden="true">
           @* <partial name="/Views/Partials/_AddUser.cshtml" />*@
        </div>
    </div>
</div>