@model UserRegisterViewModel

<div class="__admin">
    <div class="container">
        <form id='registerForm' enctype="multipart/form-data" method="post">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Add a new User</h1>


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="__input">
                <div class="userdetails">
                    <label asp-for="FirstName">First Name *</label>
                    <input asp-for="FirstName" required />
                    <small class="text-danger"><span asp-validation-for="FirstName"></span></small>
                </div>
                <div class="userdetails">
                    <label asp-for="LastName">Last Name *</label>
                    <input asp-for="LastName" required />
                    <small class="text-danger"><span asp-validation-for="LastName"></span></small>
                </div>
                <div class="userdetails">
                    <label asp-for="Email">Email *</label>
                    <input asp-for="Email" required />
                    <small class="text-danger"><span asp-validation-for="Email"></span></small>
                </div>
            </div>

            <div class="__input">
                <div class="userdetails">
                    <label asp-for="StreetName">Street Name *</label>
                    <input asp-for="StreetName" required />
                    <small class="text-danger"><span asp-validation-for="StreetName"></span></small>
                </div>
                <div class="userdetails">
                    <label asp-for="PostalCode">Postal Code *</label>
                    <input asp-for="PostalCode" required />
                    <small class="text-danger"><span asp-validation-for="PostalCode"></span></small>
                </div>
                <div class="userdetails">
                    <label asp-for="City">City *</label>
                    <input asp-for="City" required />
                    <small class="text-danger"><span asp-validation-for="City"></span></small>
                </div>
            </div>

            <div class="__input">
                <div class="userdetails">
                    <label asp-for="Mobile">Mobile (Optional)</label>
                    <input asp-for="Mobile" />
                </div>
                <div class="userdetails">
                    <label asp-for="CompanyName">Company (Optional)</label>
                    <input asp-for="CompanyName" />
                </div>
            </div>

            <div class="__input">

                <div class="userdetails">
                    <label asp-for="Password">Password *</label>
                    <input asp-for="Password" required />
                    <small class="text-danger"><span asp-validation-for="Password"></span></small>
                </div>
                <div class="userdetails">
                    <label asp-for="ConfirmPassword">Confirm Password *</label>
                    <input asp-for="ConfirmPassword" required />
                    <small class="text-danger"><span asp-validation-for="ConfirmPassword"></span></small>
                </div>
            </div>

            <div class="userdetails">
                <label asp-for="ProfilePicture">Upload Profile Image (optional)</label>
                <input asp-for="ProfilePicture" />
            </div>

            @if (TempData["Message"] != null)
            {
                <div class="alert alert-success">
                    @TempData["Message"]
                </div>
            }

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Create</button>
                <button asp-action="users" asp-controller="admin" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
</div>

@*
<script>
    async function addUser() {
        const response = await fetch(`/add`, {
            method: 'POST'
        });
        if (response.ok) {
            // Reload the page to reflect the updated user list
            location.reload();
        } else {
            // Handle errors
            console.error('Error deleting user:', response.statusText);
        }
    }
</script>*@