@import '../general/_variables.scss';

.__bestSelling {
    margin-top: 60px;

    & > .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        & h3 {
            font-size: $font-size-30;
            font-weight: $font-weight-semibold;
            margin: auto auto 30px auto;
        }

        .item {
            display: flex;
        }
    }

    & .containerx {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;

        .owl-carousel {
            display: flex !important;
            flex-direction: column !important;
            justify-content: center !important;
            align-items: center !important;
            overflow: hidden;

            & .owl-stage-outer {
                display: flex !important;
                gap: 15px !important;
            }

            .owl-nav {
                display: flex !important;
                justify-content: center !important;
                align-items: center !important;

                button {
                    width: 40px;
                    height: 40px;
                    border: 1px solid black !important;
                    border-radius: 5px;
                    margin: 10px !important;

                    span {
                        font-size: 24px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
    .containerx {
        width: 768px; /* Adjust the padding as needed */
    }
}

@media only screen and (min-width: 769px) and (max-width: 1199px) {
    .containerx {
        width: 1170px; /* Adjust the padding as needed */
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1919px) {
    .containerx {
        width: 1500px; /* Adjust the padding as needed */
    }
}

@media only screen and (min-width: 1920px) and (max-width: 5000px) {
    .containerx {
        width: 1920px; /* Adjust the padding as needed */
    }
}