@import '../general/_variables.scss';

.__registersection {
    margin-top: 85px;

    & > .container {
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 1138px;

        & .__contactbox {
            padding: 40px;
            border-radius: 5px;
            box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1);

            & > span {
                font-family: $font-roboto;
                font-size: $font-size-16;
                font-weight: $font-weight-regular;
                border-bottom: 1px solid $color-gray-1;
                color: $color-gray-2;
            }

            & #registerForm {

                & .__input {
                    display: flex;
                    gap: 30px;
                }

                & .userdetails {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin-top: 40px;

                    & label {
                        font-family: $font-roboto;
                        font-size: $font-size-16;
                        font-weight: $font-weight-regular;
                        color: $color-gray-2;
                    }

                    & input {
                        display: grid;
                        width: 100%;
                        height: 50px;
                        padding-left: 20px;
                        background-color: $color-gray-5;
                        border: none;
                    }

                    & a {
                        color: red;
                        text-decoration: none;
                    }
                }

                & .errorMessage {
                    color: $color-theme-red;
                    font-size: $font-size-14;
                    font-weight: $font-weight-regular;
                }

                & .rememberme {
                    margin-top: 10px;

                    & input {
                        margin-right: 10px;
                        background-color: $color-gray-6;
                        border: none;
                    }

                    & label {
                        font-family: $font-roboto;
                        font-size: $font-size-14;
                        font-weight: $font-weight-regular;
                        color: $color-gray-2;
                    }
                }

                & button {
                    margin-top: 30px;
                }
            }
        }


        & .thankyou {
            font-size: $font-size-20;
            font-weight: $font-weight-semibold;
            color: $color-theme-red;
        }
    }
}
