@import '../general/_variables.scss';

.__showcase {
  display: flex;
  background-color: $color-gray-1;
  height: 647px;
  justify-content: center;

  & > .container {
    display: flex ;
    justify-content: space-between;
    align-items: center;
    

    & .__showcasetext {
      text-align: left;


      & p {
        font-size: $font-size-18;
      }

      & h1 {
        font-size: $font-size-60;
        font-weight: $font-weight-bold;
      }
    }

    & .__showcaseimg {
      text-align: right;

      & img {
        width: 460px;
      }
    }
  }
} 