@{
    ViewData["Title"] = "Home Page";
}

<section class="__showcase">
    <div class="container">
        <div class="__showcasetext">
            <p>WELLCOME TO bmarketo SHOP</p>
            <h1>Exclusive Chair gold Collection.</h1>
            <button class="button-blck"><span>SHOP NOW</span></button>
        </div>
        <div class="__showcaseimg">
            <img src="/assets/images/showcase1.png" alt="Up to 70% Off!" />
        </div>
    </div>
</section>

<partial name="/Views/Partials/_Collection.cshtml" />