@model ContactFormViewModel
@{
    ViewData["Title"] = "Contact us";
}

<partial name="/Views/Partials/_Breadcrumb.cshtml" />


<section class="contactus">
    <div class="container">
        <div class="__contactbox">
            <span>Write something</span>
            <form id='commentForm' method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="user">
                    <div class="username">
                        <label asp-for="Name">Your Name *</label>
                        <input asp-for="Name" class="form-control is-valid" required />
                        <small class="text-danger"><span asp-validation-for="Name"></span></small>
                        <div class="invalid-feedback">Please enter a message in the textarea.</div>
                    </div>
                    <div class="useremail">
                        <label asp-for="Email">Your Email *</label>
                        <input asp-for="Email" class="form-control is-valid" required />
                        <small class="text-danger"><span asp-validation-for="Email"></span></small>
                    </div>
                </div>
                <div class="user">
                    <div class="phonenumber">
                        <label asp-for="PhoneNumber">Phone Number</label>
                        <input asp-for="PhoneNumber" />
                    </div>
                    <div class="company">
                        <label asp-for="Company">Company (optional)</label>
                        <input asp-for="Company" />
                    </div>
                </div>
                <div class="commentbox">
                    <label asp-for="Comment">Something write *</label>
                    <textarea asp-for="Comment"></textarea>
                    <small class="text-danger"><span asp-validation-for="Comment"></span></small>
                </div>
                <div class="rememberme">
                    <input asp-for="RememberMe" type="checkbox" />
                    <label asp-for="RememberMe">Save my name, email, and website in this browser for the next time I comment.</label>
                </div>
                <div>
                    <button class="button-red" type="submit"><span>Submit</span></button>
                </div>
            </form>
        </div>
    </div>
</section>