@{
    ViewData["Title"] = "Contact us";
}

<section class="contactus">
    <div class="container">
        <div class="__contactbox">
            <span>Write something</span>
            <form id='commentForm' onSubmit={handleSubmit} noValidate>
                <div class="user">
                    <div class="username">
                        <label id="name">Your Name *</label>
                        <input id="name" />
                        <span class="errorMessage">{errors.name}</span>
                    </div>
                    <div class="useremail">
                        <label id="email">Your Email *</label>
                        <input id="email"  />
                        <span class="errorMessage">{errors.email}</span>
                    </div>
                </div>
                <div class="user">
                    <div class="phonenumber">
                        <label id="phonenumber">Phone Number</label>
                        <input id="phonenumber"  />
                    </div>
                    <div class="company">
                        <label id="company">Company (optional)</label>
                        <input id="company"  />
                    </div>
                </div>
                <div class="commentbox">
                    <label id="comment">Something write *</label>
                    <textarea id="comment" ></textarea>
                    <div class="errorMessage">{errors.comment}</div>
                </div>
                <div class="rememberme">
                    <input id="rememberme" type="checkbox" />
                    <label id="rememberme">Save my name, email, and website in this browser for the next time I comment.</label>
                </div>
                <div>
                    <button class="button-red" type="submit"><span>Submit</span></button>
                </div>
            </form>
        </div>
    </div>
</section>