@model List<ProductViewModel>

<section class="__collection">
    <div class="container">
        <h3>Best Collection</h3>
        <ul class="isotope">
            <li data-filter="*">All</li>  ⁄
            <li data-filter="Bags">Bags</li>  ⁄
            <li data-filter="Dress">Dress</li>  ⁄
            <li data-filter="Decoration">Decoration</li>  ⁄
            <li data-filter="Essentials">Essentials</li>  ⁄
            <li data-filter="Interior">Interior</li>  ⁄
            <li data-filter="Laptop">Laptop</li>  ⁄
            <li data-filter="Mobile">Mobile</li>  ⁄
            <li data-filter="Beauty">Beauty</li>  ⁄
        </ul>

        <div class="filter-container products">
            <partial name="/Views/Partials/_ProductCard.cshtml" />
        </div>

        <div>
            <button id="load-more">LOAD MORE<i class="fa-sharp fa-solid fa-rotate-right"></i></button>
        </div>

    </div>
</section>