<footer class="footer">
    <div class="social-media">
        <a href="https://www.facebook.com/Javadov" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/Javadov" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.twitter.com/eJavadov" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.LinkedIn.com/in/Javadov" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="copyright">
        <p>© 2023 bmarketo.  All right reserved.</p>
    </div>
</footer>