<div class="__productslist">
    <div class="container">
        <div class="__products" role="group" aria-label="Button group with nested dropdown">
            <span class="__smallbox"><p>{product._id}</p>ID</span>
            <span class="__mediumbox">{product._tag}</span>
            <span class="__mediumbox">{product._category}</span>
            <span class="__largebox">{product._name}</span>
            <span class="__largebox"><img src={product._imageName} class="product-image" alt={product._name} />Show Product Image</span>
            <span class="__smallbox">{product._rating}</span>
            <span class="__smallbox">{product._price}</span>
            <span class="__mediumbox">{product._description}</span>

            <div class="btn-group dropend" role="group">
                <button type="button" class="btn btn-primary dropdown-toggle _extrabutton" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-gear"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target={"#updateProduct" + product._id}>EDIT PRODUCT</a></li>
                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target={"#deleteProduct" + product._id}>DELETE PRODUCT</a></li>
                </ul>

                <div class="modal fade" id={"updateProduct" + product._id} data-bs-backdrop="static" data-bs-keyboard="false" tabIndex={-1} aria-labelledby="updateProducttLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <ProductUpdate key={product._id} product={product} />
                    </div>
                </div>

                <div class="modal fade" id={"deleteProduct" + product._id} tabIndex={-1} aria-labelledby="deleteProductLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <ProductDelete key={product._id} product={product} />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>