@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700&display=swap");
html, body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Poppins", sans-serif, serif;
  font-weight: 400;
  color: #222529;
}

.j-c {
  justify-content: space-between;
}

.a-i {
  align-items: center;
}

.container,
.container-fluid,
.container-xxxl,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1175px;
  }
}
/*----------------------------- Extra -----------------------------*/
.button-red {
  display: inline-block;
  position: relative;
  background: #FA3150;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.button-red::before, .button-red::after {
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: white;
  margin: 10px;
}
.button-red:hover::before, .button-red:hover::after {
  width: 89.2%;
}
.button-red::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}
.button-red::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}
.button-red:hover span::before, .button-red:hover span::after {
  height: 66.2%;
}
.button-red span {
  display: block;
  padding: 15.5px 44px;
  font-size: 1rem;
  font-weight: 600;
}
.button-red span::before, .button-red span::after {
  content: "";
  width: 2px;
  height: 20px;
  position: absolute;
  transition: all 0.2s linear;
  background: white;
  margin: 10px;
}
.button-red span::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}
.button-red span::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}

.button-blck {
  display: inline-block;
  position: relative;
  background: #222529;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.button-blck::before, .button-blck::after {
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: white;
  margin: 10px;
}
.button-blck:hover::before, .button-blck:hover::after {
  width: 89.2%;
}
.button-blck::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}
.button-blck::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}
.button-blck:hover span::before, .button-blck:hover span::after {
  height: 66.2%;
}
.button-blck span {
  display: block;
  padding: 15.5px 44px;
  font-size: 1rem;
  font-weight: 600;
}
.button-blck span::before, .button-blck span::after {
  content: "";
  width: 2px;
  height: 20px;
  position: absolute;
  transition: all 0.2s linear;
  background: white;
  margin: 10px;
}
.button-blck span::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}
.button-blck span::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}

.button-login {
  display: inline-block;
  position: relative;
  background: #222529;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.button-login::before, .button-login::after {
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: white;
  margin: 5px;
}
.button-login:hover::before, .button-login:hover::after {
  width: 97.4%;
}
.button-login::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}
.button-login::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}
.button-login:hover span::before, .button-login:hover span::after {
  height: 75%;
}
.button-login span {
  display: block;
  padding: 5px 44px;
  font-size: 1rem;
  font-weight: 600;
}
.button-login span::before, .button-login span::after {
  content: "";
  width: 2px;
  height: 20px;
  position: absolute;
  transition: all 0.2s linear;
  background: white;
  margin: 5px;
}
.button-login span::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}
.button-login span::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}
.button-login:hover {
  background-color: rgb(119, 45, 45);
  color: white;
}

.button-white {
  display: inline-block;
  position: relative;
  background: white;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.button-white::before, .button-white::after {
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: #222529;
  margin: 10px;
}
.button-white:hover::before, .button-white:hover::after {
  width: 89.2%;
}
.button-white::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}
.button-white::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}
.button-white:hover span::before, .button-white:hover span::after {
  height: 66.2%;
}
.button-white span {
  display: block;
  color: #222529;
  padding: 15.5px 44px;
  font-size: 1rem;
  font-weight: 600;
}
.button-white span::before, .button-white span::after {
  content: "";
  width: 2px;
  height: 20px;
  position: absolute;
  transition: all 0.2s linear;
  background: #222529;
  margin: 10px;
}
.button-white span::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}
.button-white span::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}

.breadcrumb {
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  margin: 0 0 30px 0;
  height: 300px;
  background-size: cover;
  background-image: url(https://s7template.com/tf/bmarketo/assets/img/breadcrumb/1.png);
}
.breadcrumb > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.breadcrumb > .container h2 {
  font-size: 1.875rem;
  font-weight: 700;
}
.breadcrumb > .container .list {
  list-style: none;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
}
.breadcrumb > .container .list li {
  display: inline-block;
  color: #292929;
}
.breadcrumb > .container .list li a {
  text-decoration: none;
  color: #222529;
  margin-left: -32px;
  transition: all 0.2s ease-in-out;
}
.breadcrumb > .container .list li a:hover {
  color: #FA3150;
}
.breadcrumb > .container .list li + li::before {
  content: ".";
  font-weight: 500;
  margin: 0 5px 0 5px;
}

.map {
  width: 100%;
  height: 825px;
  border: 1px solid #616365;
  margin-bottom: -8px;
}

.cart-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  transform: translateX(-200%);
  transition: 0.5s ease-out;
}

.cart-modal {
  height: 100vh;
  width: 25%;
  background-color: rgb(50, 50, 50);
  float: right;
  overflow: scroll;
  overflow-x: hidden;
}

#close-btn {
  font-size: 1.5rem;
  float: right;
  margin: 0.5em 2em 0 0;
  color: white;
  cursor: pointer;
}

.cart-is-empty {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1em;
  display: none;
}

.total {
  text-align: center;
  margin: 2em 0 2em 0;
  /*   display: none; */
}

.cart-total {
  color: white;
}

.total-price {
  color: white;
  font-size: 2rem;
  display: block;
}

.purchase-btn {
  font-size: 1rem;
  font-weight: bolder;
  background-color: green;
  color: white;
  padding: 1em 2em;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 2em 0 1em 0;
}

.product-rows {
  margin-top: 3em;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.product-row {
  display: flex;
  align-items: center;
}

.cart-image {
  width: 10rem;
  margin: 1em;
}

.cart-price {
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
}

.product-quantity {
  width: 4rem;
  font-size: 2rem;
  margin-left: 3rem;
}

.remove-btn {
  padding: 1em 2em;
  background-color: red;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 3rem;
  font-weight: bolder;
  font-size: 1rem;
}

.remove-btn:active {
  transform: translateY(5px);
}

.__noway {
  background-image: url(https://media.tenor.com/bIJa2uRURiQAAAAd/lord-of-the-rings-you-shall-not-pass.gif);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  user-select: none;
}
.__noway h1 {
  color: transparent;
  font-size: 4rem;
  margin: 0;
  -webkit-text-stroke: 2px white;
}

.control-box {
  text-align: right;
  width: 100%;
}

.carousel-control {
  background: #666;
  border: 0px;
  border-radius: 0px;
  display: inline-block;
  font-size: 34px;
  font-weight: 200;
  line-height: 18px;
  opacity: 0.5;
  padding: 4px 10px 0px;
  position: static;
  height: 30px;
  width: 15px;
}

.__navbar {
  height: 100px;
  display: flex;
  align-items: center;
}
.__navbar > .container {
  height: 37px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.__navbar > .container .brand {
  flex: 1;
  font-size: 1.6875rem;
  font-weight: 700;
}
.__navbar > .container .brand img {
  width: 43px;
  height: 37px;
  margin-top: -10px;
}
.__navbar > .container .brand a {
  text-decoration: none;
  color: #222529;
}
.__navbar > .container .pages {
  display: flex;
}
.__navbar > .container .pages > a {
  color: #222529;
  font-size: 0.9375rem;
  text-decoration: none;
  margin: 1rem 1.4rem 1rem 1.4rem;
}
.__navbar > .container .pages > a:hover {
  color: #FA3150;
  transition: 0.2s all ease-in-out;
}
.__navbar > .container .pages .__login {
  font-size: 1rem;
  color: #AEAEAE;
  margin: 1rem 0.7rem 1rem 0.7rem;
}
.__navbar > .container .pages .active {
  color: #FA3150;
}
.__navbar > .container .pages .navicon {
  border: none;
  text-decoration: none;
  color: #AEAEAE;
  background-color: transparent;
}
.__navbar > .container .pages .navicon i {
  font-size: 0.8125rem;
}
.__navbar > .container .pages .navicon:hover {
  background-color: none;
}
.__navbar > .container .pages .navicon:hover i {
  color: red;
}
.__navbar > .container .pages .navicon .notification {
  background-color: #FA3150;
  font-size: 10px;
  position: absolute;
  top: 2px;
  right: -13px;
}

.__showcase {
  display: flex;
  background-color: #F3F2F2;
  height: 647px;
  justify-content: center;
}
.__showcase > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.__showcase > .container .__showcasetext {
  text-align: left;
}
.__showcase > .container .__showcasetext p {
  font-size: 1.125rem;
}
.__showcase > .container .__showcasetext h1 {
  font-size: 3.75rem;
  font-weight: 700;
}
.__showcase > .container .__showcaseimg {
  text-align: right;
}
.__showcase > .container .__showcaseimg img {
  width: 460px;
}

.__collection {
  margin-top: 60px;
}
.__collection > .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.__collection > .container h3 {
  font-size: 3rem;
  font-weight: 600;
  margin: auto auto 30px auto;
}
.__collection > .container > ul {
  display: flex;
  color: #636363;
}
.__collection > .container > ul li {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  list-style-type: none;
  margin: 0 0.7rem 0 0.7rem;
}
.__collection > .container .products {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-template-rows: repeat(2, 376px);
  gap: 30px;
}
.__collection > .container .filter-container {
  padding: 0;
}

.__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 270px;
  height: 376px;
  margin: 11px;
  border: 1px solid #F8F8F8;
}
.__card .card-img {
  position: relative;
  width: 270px;
  height: 295px;
  overflow: hidden;
}
.__card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.__card .card-img .card-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  text-align: center;
  align-items: center;
  top: 25%;
  left: -20%;
  list-style: none;
  z-index: 3;
  transition: 0.3s ease-in-out;
  opacity: 80%;
}
.__card .card-img .card-menu .__menulink {
  border: none;
  outline: none;
  background-color: #AEAEAE;
  width: 28px;
  height: 28px;
  margin-bottom: 0.5rem;
}
.__card .card-img .card-menu .__menulink i {
  width: 16px;
  color: white;
  font-size: 1rem;
  position: relative;
  margin: auto;
  opacity: 80%;
}
.__card .card-img .card-menu .__menulink:hover {
  background-color: #222529;
  transition: 2s ease-in-out;
}
.__card .card-img .card-menu .__menulink:hover i {
  color: black;
}
.__card .card-img:hover .card-menu {
  position: absolute;
  top: 25%;
  left: 0;
  z-index: 3;
}
.__card .card-img .button-quick-view {
  text-decoration: none;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -50px;
  transition: 0.3s ease-in-out;
}
.__card .card-img:hover .button-quick-view {
  bottom: 0px;
}
.__card .card-img:hover .button-quick-view:hover {
  background-color: #222529;
}
.__card .__card-body {
  text-align: left;
}
.__card .__card-body a {
  color: black;
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
  padding-left: 5px;
}
.__card .__card-body span {
  color: #FA3150;
}
.__card .__card-body .product-price {
  font-size: 1rem;
  font-weight: 400;
  color: #636363;
  padding-left: 5px;
}
.__card .__card-body .product-price span {
  text-decoration: line-through;
  font-weight: 400;
  color: #616365;
  font-size: 1rem;
}

.__discount {
  margin-top: 60px;
  height: 587px;
  background-color: #FAEFEF;
}
.__discount > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.__discount > .container h3 {
  font-size: 3rem;
  font-weight: 600;
  margin: auto auto 30px auto;
}
.__discount > .container .__cardx {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  text-align: center;
  width: 369px;
  height: 430px;
  margin: 80px auto;
  border: 1px solid #F8F8F8;
}
.__discount > .container .__cardx .__cardx-img {
  position: relative;
  width: 369px;
  height: 310px;
  overflow: hidden;
}
.__discount > .container .__cardx .__cardx-img img {
  width: 369px;
  height: 310px;
  object-fit: cover;
  object-position: top;
}
.__discount > .container .__cardx .__product-name {
  text-align: left;
  border-bottom: 1px solid #F8F8F8;
}
.__discount > .container .__cardx .__product-name a {
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: lowercase;
  text-align: left;
  margin: 0 0 15px 20px;
  text-decoration: none;
  color: black;
}
.__discount > .container .__cardx .__product-name a::first-line {
  text-transform: capitalize;
}
.__discount > .container .__cardx .__product-price h5 {
  font-size: 1rem;
  font-weight: 400;
  color: #636363;
  text-align: left;
  margin: 0 0 15px 20px;
}
.__discount > .container .__cardx .__product-price h5 span {
  text-decoration: line-through;
}

.__bestSelling {
  margin-top: 60px;
}
.__bestSelling > .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.__bestSelling > .container h3 {
  font-size: 1.875rem;
  font-weight: 600;
  margin: auto auto 30px auto;
}
.__bestSelling > .container .item {
  display: flex;
}
.__bestSelling .containerx {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.__bestSelling .containerx .owl-carousel {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  overflow: hidden;
}
.__bestSelling .containerx .owl-carousel .owl-stage-outer {
  display: flex !important;
  gap: 15px !important;
}
.__bestSelling .containerx .owl-carousel .owl-nav {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.__bestSelling .containerx .owl-carousel .owl-nav button {
  width: 40px;
  height: 40px;
  border: 1px solid black !important;
  border-radius: 5px;
  margin: 10px !important;
}
.__bestSelling .containerx .owl-carousel .owl-nav button span {
  font-size: 24px;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .containerx {
    width: 768px; /* Adjust the padding as needed */
  }
}
@media only screen and (min-width: 769px) and (max-width: 1199px) {
  .containerx {
    width: 1170px; /* Adjust the padding as needed */
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  .containerx {
    width: 1500px; /* Adjust the padding as needed */
  }
}
@media only screen and (min-width: 1920px) and (max-width: 5000px) {
  .containerx {
    width: 1920px; /* Adjust the padding as needed */
  }
}
.__blog {
  margin-top: 60px;
  height: 587px;
}
.__blog > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.__blog > .container h3 {
  font-size: 3rem;
  font-weight: 600;
  margin: auto auto 30px auto;
}
.__blog > .container .__cardx {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  text-align: center;
  width: 369px;
  height: 430px;
  margin: 80px auto;
  border: 1px solid #F8F8F8;
}
.__blog > .container .__cardx .__cardx-img {
  position: relative;
  width: 369px;
  height: 310px;
  overflow: hidden;
}
.__blog > .container .__cardx .__cardx-img img {
  width: 369px;
  height: 310px;
  object-fit: cover;
  object-position: top;
}
.__blog > .container .__cardx .__product-name {
  text-align: left;
  border-bottom: 1px solid #F8F8F8;
}
.__blog > .container .__cardx .__product-name a {
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: lowercase;
  text-align: left;
  margin: 0 0 15px 20px;
  text-decoration: none;
  color: black;
}
.__blog > .container .__cardx .__product-name a::first-line {
  text-transform: capitalize;
}
.__blog > .container .__cardx .__product-price h5 {
  font-size: 1rem;
  font-weight: 400;
  color: #636363;
  text-align: left;
  margin: 0 0 15px 20px;
}
.__blog > .container .__cardx .__product-price h5 span {
  text-decoration: line-through;
}

.__subscribe {
  margin-top: 92px;
  height: 368px;
  background-color: #CCCCCC;
}
.__subscribe > .container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #292929;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer a {
  color: #AEAEAE;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 8px;
}
.footer p {
  font-size: 1rem;
  font-weight: 400;
  color: #AEAEAE;
  margin: 8px;
}

.__notfound {
  height: 100%;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  align-items: center;
  margin-top: 100px;
}
.__notfound section:first-of-type {
  display: flex;
  justify-content: center;
}
.__notfound section:first-of-type img {
  width: 90%;
}
.__notfound section:last-of-type {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.__notfound section:last-of-type h1 {
  text-transform: uppercase;
  font-weight: 800;
  color: #333333;
}
.__notfound section:last-of-type h5 {
  font-size: 35px;
  line-height: 50px;
  margin-bottom: 0;
}
.__notfound section:last-of-type p {
  font-size: 16px;
  width: 80%;
  line-height: 25px;
}
.__notfound section:last-of-type a {
  width: fit-content;
  text-decoration: none;
  color: white;
}
.__notfound section:last-of-type a:hover::before, .__notfound section:last-of-type a:hover::after {
  width: 91.5%;
}
.__notfound section:last-of-type a:hover span::before, .__notfound section:last-of-type a:hover span::after {
  height: 63.2%;
}

@media only screen and (max-width: 375px) {
  body main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
  }
  body main section:first-of-type img {
    width: 80%;
  }
}
.__productsignal {
  margin-top: 10px;
}
.__productsignal > .container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
}
.__productsignal > .container .__productdetailsbox {
  display: flex;
  justify-content: space-between;
}
.__productsignal > .container .__productdetailsbox .__productimages {
  flex: 1;
  box-sizing: border-box;
  width: 501px;
  height: 549px;
}
.__productsignal > .container .__productdetailsbox .__productimages *,
.__productsignal > .container .__productdetailsbox .__productimages *::before,
.__productsignal > .container .__productdetailsbox .__productimages *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.__productsignal > .container .__productdetailsbox .__productimages > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
}
.__productsignal > .container .__productdetailsbox .__productimages .slides {
  overflow: hidden;
  width: 501px;
  height: 430px;
}
.__productsignal > .container .__productdetailsbox .__productimages .slides img {
  width: 501px;
  height: 430px;
  object-fit: cover;
  object-position: center;
}
.__productsignal > .container .__productdetailsbox .__productimages .thumbnails {
  display: flex;
  width: 501px;
  height: 113px;
  gap: 7px;
}
.__productsignal > .container .__productdetailsbox .__productimages .thumbnails li {
  flex: auto;
  list-style: none;
}
.__productsignal > .container .__productdetailsbox .__productimages .thumbnails a {
  display: block;
}
.__productsignal > .container .__productdetailsbox .__productimages .product-image {
  width: 120px;
  height: 113px;
  object-fit: cover;
  object-position: center;
}
.__productsignal > .container .__productdetailsbox .__productimages .slides li:target {
  z-index: 3;
  animation: slide 0.1s 1;
}
.__productsignal > .container .__productdetailsbox .__productimages .slides li:not(:target) {
  animation: hidden 0.1s 1;
}
@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes hidden {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
}
.__productsignal > .container .__productdetailsbox .__productdetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.__productsignal > .container .__productdetailsbox .__productdetails h1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: -10px;
}
.__productsignal > .container .__productdetailsbox .__productdetails p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #636363;
  margin-bottom: -20px;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productrating {
  display: flex;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productrating h6 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 3px 0 0 20px;
}
.__productsignal > .container .__productdetailsbox .__productdetails h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productquantity {
  display: flex;
  justify-content: left;
  text-align: center;
  gap: 30px;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productquantity h1 {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 12px;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productquantity .___quantity {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productquantity .___quantity button {
  height: 50px;
  width: 36px;
  background-color: white;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  border: 1px solid black;
  outline: none;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productquantity .___quantity .__qty {
  height: 50px;
  width: 40px;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid black;
  padding-top: 12px;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productquantity span {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 282px;
  height: 50px;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productquantity .button-add-to-cart {
  display: inline-block;
  position: relative;
  background: #FA3150;
  border: none;
  color: #fff;
  width: 207px;
  height: 50px;
  font-size: 18px;
  cursor: pointer;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productquantity .button-add-to-cart::before, .__productsignal > .container .__productdetailsbox .__productdetails .__productquantity .button-add-to-cart::after {
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: white;
  margin: 10px;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productquantity .button-add-to-cart:hover::before, .__productsignal > .container .__productdetailsbox .__productdetails .__productquantity .button-add-to-cart:hover::after {
  width: 89.8%;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productquantity .button-add-to-cart::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productquantity .button-add-to-cart::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productquantity .button-add-to-cart:hover span::before, .__productsignal > .container .__productdetailsbox .__productdetails .__productquantity .button-add-to-cart:hover span::after {
  height: 59.6%;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productquantity .button-add-to-cart span {
  display: flex;
  padding: 12px 44px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  text-align: center;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productquantity .button-add-to-cart span::before, .__productsignal > .container .__productdetailsbox .__productdetails .__productquantity .button-add-to-cart span::after {
  content: "";
  width: 2px;
  height: 20px;
  position: absolute;
  transition: all 0.2s linear;
  background: white;
  margin: 10px;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productquantity .button-add-to-cart span::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productquantity .button-add-to-cart span::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productartnr {
  display: flex;
  justify-content: space-between;
  align-content: baseline;
  width: 300px;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productartnr p {
  font-size: 0.8125rem;
  font-weight: 500;
  color: #616365;
  margin: 0;
}
.__productsignal > .container .__productdetailsbox .__productdetails span {
  color: #FA3150;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productsize {
  display: flex;
  justify-content: space-between;
  width: 282px;
  height: 40px;
  text-align: center;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productsize h1 {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 8px;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productsize input[type=radio] {
  visibility: hidden;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productsize input[type=radio]:checked + label {
  background-color: #FA3150;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productsize label {
  text-align: center;
  padding-top: 8px;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productcolor {
  display: flex;
  justify-content: space-between;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productcolor button {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 2px;
  border: 1px solid #AEAEAE;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__wishlist {
  width: 194px;
  height: 44px;
  color: #636363;
  background-color: transparent;
  border: 1px solid #AEAEAE;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
.__productsignal > .container .__extradetails {
  margin-top: 55px;
}
.__productsignal > .container .__extradetails .tabs {
  display: flex !important;
  justify-content: space-between !important;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
.__productsignal > .container .__extradetails .tabs .nav-link {
  flex: 1 !important;
  height: 50px;
  background-color: white;
  color: #636363;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #AEAEAE;
}
.__productsignal > .container .__extradetails .tabs .nav-link:hover {
  color: #FA3150;
}
.__productsignal > .container .__extradetails .tabs button[aria-selected=true] {
  background-color: #FA3150;
  color: white;
}
.__productsignal > .container .__extradetails .tabs button[aria-selected=true]:hover {
  color: white;
}
.__productsignal > .container .__extradetails .content {
  padding: 30px 0;
  background-color: white;
  font-weight: 300;
  line-height: 30px;
  font-size: 16px;
  text-align: justify;
}
.__productsignal > .container .__extradetails .content .__retur {
  display: grid;
  grid-template-columns: repeat(2, 540px);
  grid-template-rows: repeat(2, 100px);
  gap: 30px;
}
.__productsignal > .container .__extradetails .content #frakt {
  grid-column: 1/2;
  grid-row: 1/2;
}
.__productsignal > .container .__extradetails .content #retur {
  grid-column: 2/-1;
  grid-row: 1/2;
}
.__productsignal > .container .__extradetails .content #byte {
  grid-column: 1/2;
  grid-row: 2/-1;
}
.__productsignal > .container .__extradetails .content #faq {
  grid-column: 2/-1;
  grid-row: 2/-1;
}
.__productsignal > .container .__related-products {
  margin-top: 65px;
}
.__productsignal > .container .__related-products > .container {
  width: 1110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.__productsignal > .container .__related-products > .container h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: auto auto 30px auto;
  margin-left: 0;
}
.__productsignal > .container .__related-products > .container .products {
  display: inline-flex;
  flex-wrap: nowrap;
  gap: 30px;
}

.__loginsection {
  margin-top: 85px;
}
.__loginsection > .container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 1138px;
  height: 800px;
}
.__loginsection > .container .__contactbox {
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.__loginsection > .container .__contactbox > span {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border-bottom: 1px solid #F3F2F2;
  color: #636363;
}
.__loginsection > .container .__contactbox #loginForm .useremail, .__loginsection > .container .__contactbox #loginForm .password {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
}
.__loginsection > .container .__contactbox #loginForm .useremail .__useremail, .__loginsection > .container .__contactbox #loginForm .password .__useremail {
  display: flex;
  gap: 30px;
}
.__loginsection > .container .__contactbox #loginForm .useremail .__password, .__loginsection > .container .__contactbox #loginForm .password .__password {
  display: flex;
  justify-content: space-between;
}
.__loginsection > .container .__contactbox #loginForm .useremail label, .__loginsection > .container .__contactbox #loginForm .password label {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #636363;
}
.__loginsection > .container .__contactbox #loginForm .useremail input, .__loginsection > .container .__contactbox #loginForm .password input {
  height: 50px;
  padding-left: 20px;
  background-color: #FAFAFA;
  border: none;
}
.__loginsection > .container .__contactbox #loginForm .useremail a, .__loginsection > .container .__contactbox #loginForm .password a {
  color: red;
  text-decoration: none;
}
.__loginsection > .container .__contactbox #loginForm .errorMessage {
  color: #FA3150;
  font-size: 0.875rem;
  font-weight: 400;
}
.__loginsection > .container .__contactbox #loginForm .rememberme {
  margin-top: 10px;
}
.__loginsection > .container .__contactbox #loginForm .rememberme input {
  margin-right: 10px;
  background-color: #C8C8C8;
  border: none;
}
.__loginsection > .container .__contactbox #loginForm .rememberme label {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #636363;
}
.__loginsection > .container .__contactbox #loginForm button {
  margin-top: 30px;
}
.__loginsection > .container .thankyou {
  font-size: 1.25rem;
  font-weight: 600;
  color: #FA3150;
}

.__registersection {
  margin-top: 85px;
}
.__registersection > .container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 1138px;
}
.__registersection > .container .__contactbox {
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.__registersection > .container .__contactbox > span {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border-bottom: 1px solid #F3F2F2;
  color: #636363;
}
.__registersection > .container .thankyou {
  font-size: 1.25rem;
  font-weight: 600;
  color: #FA3150;
}

#registerForm .__input {
  display: flex;
  gap: 30px;
}
#registerForm .userdetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
}
#registerForm .userdetails label {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #636363;
}
#registerForm .userdetails input {
  display: grid;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  background-color: #FAFAFA;
  border: none;
}
#registerForm .userdetails a {
  color: red;
  text-decoration: none;
}
#registerForm .errorMessage {
  color: #FA3150;
  font-size: 0.875rem;
  font-weight: 400;
}
#registerForm .rememberme {
  margin-top: 10px;
}
#registerForm .rememberme input {
  margin-right: 10px;
  background-color: #C8C8C8;
  border: none;
}
#registerForm .rememberme label {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #636363;
}
#registerForm button {
  margin-top: 30px;
}

.__account {
  margin-top: 85px;
}
.__account > .container {
  width: 1138px;
  height: 800px;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.__account > .container .__account_header {
  display: flex;
  justify-content: space-between;
}
.__account > .container .__account_header .__header_left {
  flex: 1;
}
.__account > .container .__account_header .__header_right {
  flex: 4;
  text-align: right;
}
.__account > .container .__account_header .__header_right > span {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border-bottom: 1px solid #F3F2F2;
  color: #636363;
}
.__account > .container .__account_header .__header_right > a {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  border-bottom: 1px solid #F3F2F2;
  color: #636363;
  text-decoration: none;
  border: 1px solid #292929;
  margin: 0 10px 0 10px;
  padding: 0 10px 0 10px;
}

.__admin {
  margin-top: 85px;
}
.__admin > .container {
  width: 1138px;
  height: 800px;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.__admin > .container .__manageusers, .__admin > .container .__manageproducts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}
.__admin > .container .__manageusers a, .__admin > .container .__manageproducts a {
  font-size: 1.125rem;
  font-weight: bold;
  background-color: #FA3150;
  color: white;
  text-align: center;
  height: 50px;
  width: 280px;
  border: 1px black solid;
  border-radius: 5px;
  padding: 11px;
  text-decoration: none;
}
.__admin > .container .__manageusers .__adduser, .__admin > .container .__manageusers .__addproduct, .__admin > .container .__manageproducts .__adduser, .__admin > .container .__manageproducts .__addproduct {
  font-size: 1.125rem;
  font-weight: bold;
  background-color: green;
  color: white;
  text-align: center;
  height: 50px;
  width: 280px;
  border: 1px black solid;
  border-radius: 5px;
  padding: 11px;
}
.__admin > .container .modal-body {
  color: #FA3150;
}
.__admin > .container .__userpanel {
  display: flex;
  text-align: center;
  text-decoration: none;
  padding: auto;
}
.__admin > .container .__userpanel span {
  font-weight: bold;
  margin: auto;
}
.__admin > .container .btn {
  border: 1px solid black;
}

.__listheader {
  display: grid;
  margin-top: 10px;
}
.__listheader .__rubrik {
  display: flex;
}
.__listheader .__rubrik span {
  font-size: 1rem;
  font-weight: bold;
  background-color: #FA3150;
  color: rgb(253, 246, 246);
  text-align: center;
  border: 1px black solid;
  width: 175px;
  height: 35px;
  padding: 5px;
}
.__listheader .__rubrik .__mediumboxheader {
  width: 228px;
}
.__listheader .__rubrik .__largeboxheader {
  width: 340px;
}
.__listheader .__rubrik .__extraboxheader {
  width: 260px;
}
.__listheader .__userslist {
  display: flex;
  flex-direction: column;
}
.__listheader .__userslist .__userdetails {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 7px 7px 0 7px;
  margin-bottom: 3px;
}
.__listheader .__userslist .__userdetails .__mediumbox {
  width: 220px;
}
.__listheader .__userslist .__userdetails .__largebox {
  width: 340px;
}
.__listheader .__userslist .__userdetails span {
  font-size: 1rem;
  font-weight: bold;
  background-color: #F3F2F2;
  color: black;
  text-align: left;
  border-radius: 5px;
  height: 35px;
  padding: 5px;
}
.__listheader .__userslist .__userdetails span img {
  width: 100px;
}
.__listheader .__userslist .__userdetails span p {
  display: none;
  align-items: baseline;
  width: 200px;
  border-radius: 5px;
  background-color: black;
  font-size: 12px;
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.__listheader .__userslist .__userdetails span img {
  display: none;
  align-items: baseline;
  width: 150px;
  border-radius: 5px;
  background-color: black;
  font-size: 12px;
  color: white;
}
.__listheader .__userslist .__userdetails span:hover p {
  display: inline;
  position: absolute;
  border: 1px solid black;
  top: 0px;
  left: -210px;
  z-index: 50;
}
.__listheader .__userslist .__userdetails span:hover img {
  display: inline;
  position: absolute;
  border: 1px solid black;
  top: -35px;
  left: 410px;
  z-index: 50;
}
.__listheader .__userslist .__userdetails .__usercardlink {
  text-align: center;
  height: 35px;
  background-color: gray;
  border: 1px dotted black;
  border-radius: 5px;
  color: white;
  padding: 6px 20px 0 20px;
}
.__listheader .__userslist .__userdetails ._extrabutton {
  font-weight: bold;
  background-color: green;
  color: white;
  height: 35px;
  width: 50px;
  border: 1px black solid;
  border-radius: 5px;
  padding: 0;
}
.__listheader .__detailsbox1 {
  display: flex;
  justify-content: space-between;
}
.__listheader .__detailsbox1 span {
  background-color: ghostwhite !important;
}
.__listheader .__detailsbox1 .__details1 {
  display: flex;
  flex-direction: column;
}
.__listheader .__detailsbox1 .__details11 {
  display: flex;
  align-items: flex-start;
}
.__listheader .__detailsbox1 .__details2 {
  display: flex;
  flex-direction: column;
}
.__listheader .__detailsbox1 .__details2 img {
  width: 150px;
  height: auto;
}
.__listheader .__detailsbox1 .__details2 p {
  display: flex;
  justify-content: space-around;
  font-size: 1.125rem;
  align-items: center;
  width: 150px;
  border: 1px solid black;
}
.__listheader .__detailsbox1 .__details2 p span {
  background: none !important;
}
.__listheader .__detailsbox2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.__listheader .__detailsbox2 span {
  background-color: ghostwhite !important;
}
.__listheader .__detailsbox2 .__details1 {
  display: flex;
  flex-direction: column;
}
.__listheader .modal-header ._modal-title {
  display: block;
  justify-content: space-between;
  align-items: center;
}
.__listheader .modal-header ._modal-title .__modalheader_title {
  font-size: 18px;
}
.__listheader .modal-header ._modal-title .__modalheader_text {
  font-size: 12px;
  color: gray;
}
.__listheader .modal-body {
  text-align: center;
  color: black;
  padding: 30px;
  font-size: 20px;
}
.__listheader .__update {
  text-align: left;
  color: black;
  padding: 30px;
}
.__listheader .__update label {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  text-align: center;
}
.__listheader .__update label p {
  margin: auto 0 0;
}
.__listheader .__update label .actual {
  text-align: center;
  font-size: 13px;
  color: black;
}
.__listheader .__update input, .__listheader .__update textarea {
  width: 437px;
}
.__listheader .__delete {
  background-color: rgb(243, 2, 2);
  font-weight: bold;
}
.__listheader .modal-footer {
  display: flex;
  flex-direction: column;
}
.__listheader .modal-footer .__buttonrow {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.__listheader .modal-footer .__buttonrow button {
  width: 200px;
}

.__productslist {
  display: grid;
  margin-top: 10px;
  /*    & > .container {
      width: 1110px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }*/
}
.__productslist .__rubrik {
  display: flex;
}
.__productslist .__rubrik span {
  font-size: 1rem;
  font-weight: bold;
  background-color: #FA3150;
  color: rgb(253, 246, 246);
  text-align: center;
  border: 1px black solid;
  border-radius: 5px;
  width: 175px;
  height: 35px;
  padding: 5px;
}
.__productslist .__rubrik .__smallbox {
  width: 60px;
}
.__productslist .__rubrik .__mediumbox {
  width: 100px;
}
.__productslist .__rubrik .__largebox {
  width: 290px;
}
.__productslist .__products {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.__productslist .__products .__smallbox {
  width: 60px;
}
.__productslist .__products .__mediumbox {
  width: 100px;
}
.__productslist .__products span, .__productslist .__products .__extraspan {
  font-size: 1rem;
  font-weight: bold;
  background-color: #636363;
  color: black;
  text-align: center;
  border: 1px black solid;
  border-radius: 5px;
  width: 175px;
  height: 35px;
  padding: 5px;
  /*            & img {
      display: none;
      align-items: baseline;
      width: 150px;
      border-radius: 5px;
      background-color: black;
      font-size: 12px;
      color: white;
  }*/
}
.__productslist .__products span img, .__productslist .__products .__extraspan img {
  display: none;
}
.__productslist .__products span p, .__productslist .__products .__extraspan p {
  display: none;
  align-items: baseline;
  width: 200px;
  border-radius: 5px;
  background-color: black;
  font-size: 12px;
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.__productslist .__products span:hover p, .__productslist .__products .__extraspan:hover p {
  display: inline;
  position: absolute;
  border: 1px solid black;
  top: 0px;
  left: -210px;
  z-index: 50;
}
.__productslist .__products span .__productimagestumb, .__productslist .__products .__extraspan .__productimagestumb {
  display: none;
}
.__productslist .__products span:hover .__productimagestumb, .__productslist .__products .__extraspan:hover .__productimagestumb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  position: absolute;
  top: 35px;
  z-index: 100;
}
.__productslist .__products span:hover .__productimagestumb img, .__productslist .__products .__extraspan:hover .__productimagestumb img {
  display: inline-flex;
  flex-direction: row;
}
.__productslist .__products .__largebox {
  width: 290px;
}
.__productslist .__products ._extrabutton {
  font-weight: bold;
  background-color: green;
  color: white;
  height: 35px;
  width: 50px;
  border: 1px black solid;
  border-radius: 5px;
  padding: 0;
}
.__productslist .modal-header ._modal-title {
  display: block;
  justify-content: space-between;
  align-items: center;
}
.__productslist .modal-header ._modal-title .__modalheader_title {
  font-size: 18px;
}
.__productslist .modal-header ._modal-title .__modalheader_text {
  font-size: 12px;
  color: gray;
}
.__productslist .modal-body {
  text-align: center;
  color: black;
  padding: 30px;
  font-size: 20px;
}
.__productslist .__update {
  text-align: left;
  color: black;
  padding: 30px;
}
.__productslist .__update label {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  text-align: center;
}
.__productslist .__update label p {
  margin: auto 0 0;
}
.__productslist .__update label .actual {
  text-align: center;
  font-size: 13px;
  color: black;
}
.__productslist .__update input, .__productslist .__update textarea {
  width: 437px;
}
.__productslist .__delete {
  background-color: rgb(243, 2, 2);
  font-weight: bold;
}

.__tagSelection {
  display: flex;
  justify-content: space-between;
  color: white;
  /*width: 100%;*/
  gap: 30px;
}
.__tagSelection .btn {
  width: 150px;
  color: white;
  background-color: #C8C8C8;
}
.__tagSelection .btnx-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
  background-color: bisque;
}
.__tagSelection .btnx-check[disabled] + .btn, .__tagSelection .btnx-check:disabled + .btn {
  pointer-events: none;
  filter: none;
  opacity: 0.65;
}
.__tagSelection .btnx-check + .btn:hover {
  color: white;
  background-color: #FA3150;
  border-color: black;
}
.__tagSelection .btnx:focus-visible {
  color: blueviolet;
  background-color: cadetblue;
  border-color: greenyellow;
  outline: 0;
  box-shadow: 0 0 0 0.25rem;
}
.__tagSelection .btnx-check:focus-visible + .btn {
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: 0 0 0 0.25rem;
}
.__tagSelection .btnx-check:checked + .btn, .__tagSelection :not(.btnx-check) + .btn:active, .__tagSelection .btnx:first-child:active, .__tagSelection .btn.active, .__tagSelection .btn.show {
  color: black;
  background-color: lightgreen;
  border-color: black;
}
.__tagSelection .btnx-check:checked + .btn:focus-visible, .__tagSelection :not(.btnx-check) + .btn:active:focus-visible, .__tagSelection .btn:first-child:active:focus-visible, .__tagSelection .btn.active:focus-visible, .__tagSelection .btn.show:focus-visible {
  box-shadow: 0 0 0 0.25rem;
}

.contactus {
  margin-top: 85px;
}
.contactus > .container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 1138px;
  height: 800px;
}
.contactus > .container .__contactbox {
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.contactus > .container .__contactbox > span {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border-bottom: 1px solid #F3F2F2;
  color: #636363;
}
.contactus > .container .__contactbox #commentForm .user {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 30px;
}
.contactus > .container .__contactbox #commentForm .user .username, .contactus > .container .__contactbox #commentForm .user .useremail, .contactus > .container .__contactbox #commentForm .user .phonenumber, .contactus > .container .__contactbox #commentForm .user .company {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contactus > .container .__contactbox #commentForm .user .username label, .contactus > .container .__contactbox #commentForm .user .useremail label, .contactus > .container .__contactbox #commentForm .user .phonenumber label, .contactus > .container .__contactbox #commentForm .user .company label {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #636363;
}
.contactus > .container .__contactbox #commentForm .user .username input, .contactus > .container .__contactbox #commentForm .user .useremail input, .contactus > .container .__contactbox #commentForm .user .phonenumber input, .contactus > .container .__contactbox #commentForm .user .company input {
  height: 50px;
  padding-left: 20px;
  background-color: #FAFAFA;
  border: none;
}
.contactus > .container .__contactbox #commentForm .commentbox {
  margin-top: 30px;
}
.contactus > .container .__contactbox #commentForm .commentbox > label {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #636363;
}
.contactus > .container .__contactbox #commentForm .commentbox textarea {
  width: 100%;
  height: 140px;
  background-color: #FAFAFA;
  border: none;
}
.contactus > .container .__contactbox #commentForm .errorMessage {
  color: #FA3150;
  font-size: 0.875rem;
  font-weight: 400;
}
.contactus > .container .__contactbox #commentForm .rememberme {
  margin-top: 10px;
}
.contactus > .container .__contactbox #commentForm .rememberme input {
  margin-right: 10px;
  background-color: #C8C8C8;
  border: none;
}
.contactus > .container .__contactbox #commentForm .rememberme label {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #636363;
}
.contactus > .container .__contactbox #commentForm button {
  margin-top: 30px;
}
.contactus > .container .thankyou {
  font-size: 1.25rem;
  font-weight: 600;
  color: #FA3150;
}
